# Entorno Virtual
venv/
.venv/
env/
ENV/
bin/
lib/
share/

# Base de Datos (SQLite por defecto en FastAPI/SQLAlchemy)
*.sqlite
*.sqlite3
*.db

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno (Sensible)
.env
